.update-form-container {
    font-family: 'Montserrat', sans-serif;
    height: auto;
    padding: 25px 5px;
    margin: 30% 0;
    width: 70%;
    color: grey;
    border-radius: 5px;
    box-shadow: 0 1px 10px #888888;
}

.update-form-container .update-form {
    width: 80%;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 5px 5px;
    margin: 1% 0;
    font-size: 12px;
    display: inline-block;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=submit] {
    font-size: 12px;
    background-color: #3F54AF;
    border-radius: 5px;
    width: 100%;
    color: #ffff;
    padding: 4px 0;
}

@media screen and (min-width: 321px) and (max-width: 375px){
    .update-form-container {
        margin: 25.5% 0;
    }
}

@media screen and (min-width: 376px) and (max-width: 767px){
    .update-form-container {
        margin: 22% 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .update-form-container {
        padding: 25px 5px;
        margin: 36% 0;
        width: 50%;
    }

    .update-form-container {
        margin: 5.5% 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .update-form-container {
        margin: 11% 0;
        width: 47%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .update-form-container {
        padding: 25px 5px;
        margin: 36% 0;
        width: 50%;
    }

    .update-form-container {
        margin: 5.5% 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .update-form-container {
        margin: 11% 0;
        width: 47%;
    }

    input[type=text], input[type=email] {
        font-size: 17px;
    }
    
    input[type=submit] {
        font-size: 17px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .update-form-container {
        margin: 11% 0;
        width: 47%;
    }

    input[type=text], input[type=email] {
        font-size: 17px;
    }
    
    input[type=submit] {
        font-size: 17px;
    }
}