body {
    background-image: linear-gradient(to bottom, #3F54AF, pink);
}

.parsley-minlength {
    display: none;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: unset;
    color: red;
    font-size: 10px;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form-container {
    height: auto;
    width: 25%;
    margin-left: 40%;
    background-color: #FFF;
    padding: 0 10px;
    color: grey;
    border-radius: 5px;
}

.app-logo {
    text-align: center;
}

.app-logo a{
    text-decoration: none;
    color: #3F54AF;
}

.reg-form {
    padding-bottom: 25px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background: #3F54AF;
    border-radius: 5px;
    width: 100%;
    color: #ffff;
    padding: 4px 0;
}

.form-fields {
    padding: 16px;
}
